Source: udevil
Maintainer: IgnorantGuru <ignorantguru@gmx.com>
Package: udevil
Priority: optional
Architecture: armhf
Version: 0.4.1-3
Section: utils
Depends: libc6, libglib2.0-0, libudev0 (>=143)
Suggests: eject, cifs-utils, curlftpfs, sshfs, davfs2, spacefm
Conflicts: devmon
Provides: devmon
Description: Mounts and unmounts removable devices and networks without a
 password (set suid), shows device info, monitors device changes.  Includes
 the devmon automounting script.
