Package: libsunxi-mali-x11
Version: 1.0-5
Section: libs
Priority: optional
Architecture: armhf
Depends: libc6 (>= 2.13-28)
Conflicts: libegl1-mesa-drivers, libegl1-mesa
Homepage: https://github.com/linux-sunxi/sunxi-mali
Maintainer: cubian developer <sophiasmth@gmail.com>
Description: Mali userspace drivers, including proprietary OpenGLESv2/EGL binaries.
 This binary is compiled as EGL_TYPE=x11, you should use it in a X environment
