Package: template
Version: 1.0-1
Section: admin
Priority: optional
Architecture: all
Depends: e2fsprogs (>= 1.1), util-linux (>= 2.20), coreutils (>= 8.13)
Maintainer: cubieplayer <playcubie@gmail.com>
Description: bootstrap package
 bootstrap script to build deb packages
