[Desktop Entry]
Name=CubiePlayer
Name[ca]=CubiePlayer
Name[de_DE]=CubiePlayer
Name[es_ES]=CubiePlayer
Name[es_MX]=CubiePlayer
Name[fr_FR]=CubiePlayer
Name[it_IT]=CubiePlayer
Name[pt_BR]=CubiePlayer
Name[pt_PT]=CubiePlayer
Name[tr_TR]=CubiePlayer
Name[zh_CN]=Cubie视频播放器
Name[zh_TW]=CubiePlayer
GenericName=CubiePlayer PyQT GUI
GenericName[ca]=CubiePlayer PyQT GUI
GenericName[de_DE]=CubiePlayer PyQT GUI
GenericName[es_ES]=CubiePlayer PyQT GUI
GenericName[es_MX]=CubiePlayer PyQT GUI
GenericName[fr_FR]=CubiePlayer PyQT GUI
GenericName[it_IT]=CubiePlayer PyQT GUI
GenericName[pt_BR]=CubiePlayer PyQT GUI
GenericName[pt_PT]=CubiePlayer PyQT GUI
GenericName[tr_TR]=CubiePlayer PyQT GUI
GenericName[zh_CN]=Cubie视频播放器
GenericName[zh_TW]=Cubie视频播放器
X-GNOME-FullName=CubiePlayer PyQT GUI
X-GNOME-FullName[ca]=CubiePlayer PyQT GUI
X-GNOME-FullName[de_DE]=CubiePlayer PyQT GUI
X-GNOME-FullName[es_ES]=CubiePlayer PyQT GUI
X-GNOME-FullName[es_MX]=CubiePlayer PyQT GUI
X-GNOME-FullName[fr_FR]=CubiePlayer PyQT GUI
X-GNOME-FullName[it_IT]=CubiePlayer PyQT GUI
X-GNOME-FullName[pt_BR]=CubiePlayer PyQT GUI
X-GNOME-FullName[pt_PT]=CubiePlayer PyQT GUI
X-GNOME-FullName[tr_TR]=CubiePlayer PyQT GUI
X-GNOME-FullName[zh_CN]=CubiePlayer视频播放器
X-GNOME-FullName[zh_TW]=CubiePlayer视频播放器
Type=Application
Comment=Lightweight MPlayer GUI base on PyQT
Comment[de_DE]=Lightweight MPlayer GUI base on PyQT
Comment[es_ES]=Lightweight MPlayer GUI base on PyQT
Comment[es_MX]=Lightweight MPlayer GUI base on PyQT
Comment[fr_FR]=Lightweight MPlayer GUI base on PyQT
Comment[it_IT]=Lightweight MPlayer GUI base on PyQT
Comment[pt_BR]=Lightweight MPlayer GUI base on PyQT
Comment[pt_PT]=Lightweight MPlayer GUI base on PyQT
Comment[tr_TR]=Lightweight MPlayer GUI base on PyQT
Comment[zh_CN]=基于 PyQT 的轻量级 MPlayer GUI
Comment[zh_TW]=基於 PyQT 的輕巧 MPlayer GUI
Exec=/usr/bin/cubieplayer
Icon=/usr/share/cubieplayer/icons/32x32.xpm
Categories=AudioVideo;Player;
