Package: cubian-update
Version: 1.0-1
Section: admin
Priority: optional
Architecture: all
Depends: git (>= 1.7)
Maintainer: cubian developer <sophiasmth@gmail.com>
Description: update cubian
 This script can update cubian online
