Package: cubian-update
Version: 1.3-5
Section: admin
Priority: optional
Architecture: all
Depends: git (>= 1.7), coreutils(>= 8.13)
Maintainer: cubian developer <sophiasmth@gmail.com>
Description: update cubian
 This script can update cubian online
